nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  box-sizing: border-box; 
  display: flex;
  align-items: center; /* Center items vertically */
}

/* Style for the header box */
.profile-header {
  background-color: #0d4200;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  text-align: center;
  padding: 2em;
  width: 100%; /* Set the width of the header to 100% of its parent container */
}

/* Style for the profile image and name within the header box */
.profile-background {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 2em; /* Adjust spacing between the nav and header box */
}

.profile-background img {
  max-height: 200px; /* Set max-height to prevent squishing */
  width: auto; /* Let the width adjust automatically */
}

.profile-name {
  color: #ffffff;
  margin-top: 1em; /* Adjust spacing between the profile image and name */
}