header.profile-header {
  background-color: #0d4200;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  text-align: center;
  padding-top: 120px;
  height: 400px; 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.profile-background {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 2em; 
}

.profile-background img {
  max-height: 200px; 
  width: auto; 
  margin-bottom: -1em;
}

.profile-name {
  color: #ffffff;
  margin-top: 1em; 
  padding-top: -100px;
}
