.tweet {
  border: 4px solid black;
  background: none;
  padding: 15px; 
  margin: 50px 100px 0 100px; 
  position: relative;
}

.tweet:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: absolute; 
  bottom: 10px; 
  width: calc(100% - 30px); 
}

.tweet footer .actions {
  order: 1; 
}

.tweet footer .timestamp {
  order: 0; 
}

.tweet footer .actions span:hover {
  color: yellow;
}
