.tweet {
  border: 4px solid black;
  background: none;
  padding: 20px; 
  margin: 50px 100px 0 100px; 
  position: relative;
  font-size: 18px; 
  max-width: 80%;
}

.tweet:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.profile-picture {
  margin-right: 100px; 
}

.user .handle {
  margin-left: auto;
}


.tweet-text {
  margin-left: 100px; 
  border-bottom: 4px black;

}

.tweet footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: absolute; 
  bottom: 0; 
  width: calc(100% - 30px); 
  padding-top: 10px; 
  border-top: 4px solid black; 
}

.tweet footer .actions {
  order: 1; 
}

.tweet footer .timestamp {
  order: 0; 
}

.tweet footer .actions span:hover {
  color: yellow;
}

